<header>
    <img src="/img/logo.png" alt="Logo MusicList" id="logo" />
    <span class="title" id="title-1"> My </span>
    <span class="title" id="title-2"> MusicList</span>
    <div class="img-container">
      <a href="/">
        <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="Botao para voltar a pagina inicial" class="home-btn">
      </a>
      </div>
  </header>